
<!-- Banner -->

<div class="banner">
  <div class="banner-content">

		<div class='logo-image'>
		<div class='text-logo'>#MyWeddingMatters</div>
		</div>

		<div class='opening-text'>
            Brought to you by
			<span class="opening-text-name">Samahope</span>  
		</div>


  </div>
</div>

<!-- Features -->

<div class="big-container">

<div class="container-fluid">

    <div class="mid-text-container">
        <h1>How this works</h1>
          <p>Make a donation to support safe births and life-changing medical treatments for families in need</p>
    </div>


    <div class="row">

        <div class="service-box col-sm-4">
            <div class="square animated bounceIn">
                <%= image_tag('profile.png', id: 'blah', class: 'media-img', alt: 'About') %>
            </div>
            <h2>
                Campaign
            </h2>
            <p>
                Sign up and create a gift campaign for your wedding
            </p>
        </div>

        <div class="service-box col-sm-4">
            <div class="square animated bounceIn">
                <%= image_tag('nudge.png', class: 'media-img', alt: 'About') %>
            </div>
            <h2>
                Invitations
            </h2>
            <p>
                Let your guests know that you will be receiving your wedding gifts as charitable donations  
            </p>
        </div>

        <div class="service-box col-sm-4">
            <div class="square animated bounceIn">
                <%= image_tag('getnoticed.png', class: 'media-img', alt: 'About') %>
            </div>
            <h2>
                Impact
            </h2>
            <p>
                Get married and see how your wedding impacts the lives of families in need
            </p>
        </div>


    </div>

</div>

</div>


<!-- signup form -->

<div class="subscription-section">

    <div class="container-fluid">

        <div class="row">

            <div class="newsletter-form-img col-md-4 col-lg-6">
                <div class="container-form-image">
                    <%= image_tag('SamahopeInvite.png', class: 'subscription-img', alt: 'subscription-image') %>
                </div>
            </div>

            <div class="newsletter-form-content col-md-8 col-lg-6">
                <p>Want to make your wedding matter?</p>
                <p>Sign up!</p>
            
                    <div class="form-subscribe">
                       
                        <form method="POST" role="form">

                            <div class="form-inputs subscription-box">

                                <input type="hidden" name="u" value="c50dae01481d495cdc2281893">
                                <input type="hidden" name="id" value="11a0543600">

                                <div class: "form-space">
                                    <div class: "form-group">
                                       <input type="text" name="MERGE1" id="MERGE1" class="form-control" size="25" value="" placeholder="First Name">
                                    </div>
                                </div>
                                <div class: "form-space">
                                    <div class: "form-group">
                                        <input type="text" name="MERGE2" id="MERGE2" class="form-control" size="25" value="" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class: "form-space">
                                    <div class: "form-group">
                                        <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" class="form-control" size="25" value="" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                              <input type="submit" class="btn btn-default btn-lg" name="submit" value="Sign up!">
                            </div>

                       

                    </div>
            </div>



        </div>
    </br>

    </div>


</div>



<!-- imagebreak -->





<!-- Examples -->

<div class="big-container-example">

<div class="container-fluid">

    <div class="mid-text-container-example">
        <h1>We will send you an impact report on your anniversary!</h1>
          <h3>If you have any questions contact us at hello@samahope.com</h3>


    </div>


    <div class="row">




    </div>

</div>

</div>

